<template>
  <div class="header">
    <div class="filtering-panel">
      <select-control class="select" name="Горошки. Все 19-20" :list="list" />
      <search-input placeholder="Универсальный поиск" class="search-input" />
    </div>
    <div class="userbar">
      <div class="buttons">
        <a class="top-button">
          <icon name="poll-icon" />
        </a>
        <a class="top-button">
          <icon name="calendar-icon" />
        </a>
        <a class="top-button">
          <icon name="bell-icon" />
        </a>
      </div>
      <img src="~/assets/userpic.jpg" class="userpic" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/scss/variables';
@import '~/scss/mixins';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: $main-page-left-padding;
  padding-right: 16px;
  border-bottom: 1px solid $border-grey;
}

.filtering-panel {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input {
  width: 220px;
}

.select {
  margin-right: 36px;
}

.userbar {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
}

.top-button {
  @include resetButton;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    /deep/[data-fg-colorable][data-fg-fill] {
      fill: $light-blue;
    }
    /deep/[data-fg-colorable][data-fg-stroke] {
      stroke: $light-blue;
    }
  }
}

.userpic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 15px;
}
</style>

<script>
import Icon from '~/components/icon'
import SearchInput from '~/components/search-input'
import SelectControl from '~/components/select'

export default {
  name: 'Header',
  components: {
    icon: Icon,
    'select-control': SelectControl,
    'search-input': SearchInput,
  },
  data: function () {
    return {
      list: [{ id: 0, name: 'Горошки. Все 19-20' }],
    }
  },
}
</script>
