<template>
  <div>
    <div class="header">
      <logo />
      <a class="add-button">
        <icon name="plus-icon" />
      </a>
    </div>
    <div class="hover-line">
      <a class="hide-button" @click="changeMenuState">
        <icon name="hide-icon" />
      </a>
    </div>
    <main-menu />
  </div>
</template>
<script>
import Icon from '~/components/icon'
import Logo from '~/components/logo'
import MainMenu from '~/components/main-menu'
export default {
  name: 'LeftPanel--FullView',
  components: {
    icon: Icon,
    'main-menu': MainMenu,
    logo: Logo,
  },
  methods: {
    changeMenuState() {
      this.$store.commit('changeMenuState')
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: $left-menu-padding;
  padding-right: 28px;
}

.logo {
  color: $text-black;
  font-weight: 500;
  line-height: 21px;
}
.icon {
  &:hover {
    circle {
      stroke: red;
    }
  }
}
.add-button {
  @include resetButton;
  cursor: pointer;
  &:hover {
    /deep/[data-fg-colorable] {
      stroke: $light-blue;
    }
  }
}

$clickableOffset: 2px;

.hover-line {
  content: '';
  cursor: pointer;
  display: block;
  height: 100%;
  width: $clickableOffset * 2 + 1px; // X px -- 1px [border] -- X px
  position: absolute;
  right: -1px - $clickableOffset;
  top: 0;
  &:after {
    content: '';
    position: absolute;
    right: $clickableOffset;
    top: 0;
    width: 1px;
    height: 100%;
  }
  &:hover {
    .hide-button {
      display: block;
      /deep/[data-fg-colorable] {
        stroke: $light-blue;
      }
    }
    &:after {
      background: $light-blue;
    }
  }
}

.hide-button {
  @include resetButton;
  display: none;
  z-index: 1;
  position: absolute;
  top: 28px;
  right: -12px + $clickableOffset;
  cursor: pointer;
  /deep/[data-bg-colorable] {
    fill: $base-white;
  }
}
</style>
