<template>
  <div :class="['left-panel', isMenuCollapsed && 'collapsed']">
    <short-view v-if="isMenuCollapsed" />
    <full-view v-else />
  </div>
</template>

<style lang="scss" scoped>
@import '~/scss/variables';
.left-panel {
  position: relative;
  width: 281px;
  border-right: 1px solid $border-grey;
}

.collapsed {
  width: 65px;
}
</style>

<script>
import FullView from './full-view'
import ShortView from './short-view'
export default {
  name: 'LeftPanel',
  components: {
    'full-view': FullView,
    'short-view': ShortView,
  },
  computed: {
    isMenuCollapsed() {
      return this.$store.state.isMenuCollapsed
    },
  },
}
</script>
