<template>
  <div class="short-view">
    <div class="menu-item">
      <button @click="changeMenuState">
        <icon name="open-icon" />
      </button>
    </div>
    <div class="menu-item">
      <button>
        <icon name="plus-icon" />
      </button>
    </div>
    <div
      :class="[
        'menu-item',
        'main-menu-button',
        isContextMenuOpened && 'active',
      ]"
    >
      <button @click="isContextMenuOpened = !isContextMenuOpened">
        <icon name="menu-icon" />
      </button>
      <main-menu v-if="isContextMenuOpened" class="main-menu" />
    </div>
    <logo class="logo" />
  </div>
</template>
<script>
import Icon from '~/components/icon'
import Logo from '~/components/logo'
import MainMenu from '~/components/main-menu'
export default {
  name: 'LeftPanel--ShortView',
  components: {
    icon: Icon,
    logo: Logo,
    'main-menu': MainMenu,
  },
  data: function () {
    return {
      isContextMenuOpened: false,
    }
  },
  methods: {
    changeMenuState() {
      this.$store.commit('changeMenuState')
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~/scss/variables';
@import '~/scss/mixins';

.short-view {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
}
.logo {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: left;
  left: 30px;
}
.menu-item {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > button {
    @include resetButton;
    cursor: pointer;
    &:hover {
      /deep/[data-fg-colorable][data-fg-stroke] {
        stroke: $text-black;
      }
    }
  }
  &.active {
    & > button {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $background-grey;
      /deep/[data-fg-colorable][data-fg-stroke] {
        stroke: $text-black;
      }
    }
  }
}

.main-menu-button {
  position: relative;
}

.main-menu {
  position: absolute;
  left: 64px;
  top: 20px;
  width: 280px;
  background: $base-white;
  border: 1px solid $light-blue;
  z-index: 1;
}
</style>
