$light-blue: #3591FF;
$aqua-light-blue: #C8E1FF;
$background-light-blue: #F2F8FF;
$dark-blue: #1974E0;
$background-blue: #D5E8FF;
$base-white: #fff;
$text-black: #000;
$border-grey :#C8D0CF;
$border-grey-light: #EBEBEB;
$text-grey: #A4A9A8;
$background-grey: #F5F6F7;
$green-active: #0AB444;
$red-active: #F84242;

:export {
  light-blue: $light-blue;
  background-light-blue: $background-light-blue;
  aqua-light-blue: $aqua-light-blue;
  dark-blue: $dark-blue;
  background-blue: $background-blue;
  base-white: $base-white;
  text-black: $text-black;
  border-grey: $border-grey;
  text-grey: $text-grey;
  background-grey: $background-grey;
  border-grey-light: $border-grey-light;
  green-active: $green-active;
}