@import 'normalize.css/normalize.css';
@import './__fonts.scss';
* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}