<template>
  <div class="source-block">
    <div
      :class="['list-item', 'student-name', isLearnerSelected && 'selected']"
    >
      <checkbox
        :selected="isLearnerSelected"
        @select="isLearnerSelected = !isLearnerSelected"
      >
        {{ student.firstname }} {{ student.lastname }}
      </checkbox>
    </div>
    <div
      :class="[
        'list-item',
        'source',
        selectedMaterials.includes(source.id) && 'selected',
      ]"
      v-for="source in materialList"
      :key="source.id"
    >
      <checkbox
        :selected="selectedMaterials.includes(source.id)"
        @select="onSelectMaterial(source.id)"
      >
        {{ source.name }}
      </checkbox>
      <span class="label score" v-if="source.score">{{ source.score }}</span>
      <span class="label presented" v-if="source.presented">
        <icon name="presented-icon" />
      </span>
      <span
        :class="[
          'used',
          source.score && 'used_score',
          source.presented && 'used_presented',
        ]"
        >4</span
      >
    </div>
  </div>
</template>

<script>
import Checkbox from '~/components/checkbox'
import Icon from '~/components/icon'
export default {
  name: 'MaterialBlock',
  props: {
    student: { type: Object, required: true },
    materialList: { type: Array, default: () => [] },
  },
  data: function () {
    return {
      selectedMaterials: [],
      isLearnerSelected: false,
    }
  },
  methods: {
    onSelectMaterial(id) {
      if (this.selectedMaterials.includes(id)) {
        this.selectedMaterials = this.selectedMaterials.filter(
          (material) => material !== id
        )
      } else {
        this.selectedMaterials.push(id)
      }
    },
  },
  components: {
    checkbox: Checkbox,
    icon: Icon,
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/variables';

.source-block {
  width: 240px;
  height: 168px;
  background: $background-grey;
}

.list-item {
  position: relative;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 22px;
  &.selected {
    background: $background-light-blue;
  }
}

.student-name {
  line-height: 17px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 17px;
}

.source {
  height: 64px;
  line-height: 15px;
  font-size: 13px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-grey-light;
  border-top: 1px solid $border-grey-light;
}

.label {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 1px;
}

.score {
  background: $green-active;
  color: $base-white;
  font-size: 11px;
}

.presented {
  border: 1px solid $border-grey;
}

.used {
  position: absolute;
  top: 30px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  font-size: 11px;
  &_presented {
    color: $red-active;
  }
  &_score {
    color: $green-active;
  }
}
</style>
