<template>
  <button type="button" :disabled="disabled" :class="['button', type]">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    type: { type: String, default: 'primary' },
    disabled: { type: Boolean, default: false },
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';

.button {
  @include resetButton;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.primary {
  background: $light-blue;
  color: $base-white;
  &:hover {
    background: $dark-blue;
  }
  &:disabled {
    background: rgba($light-blue, 0.2);
  }
}
.secondary {
  color: $light-blue;
  border: 1px solid $light-blue;
  &:hover {
    color: $dark-blue;
    border: 1px solid $dark-blue;
  }
  &:disabled {
    color: rgba($light-blue, 0.2);
  }
}
</style>
