<template>
  <div class="checkbox" @click="$emit('select')">
    <input type="checkbox" :checked="selected" />
    <div>
      <slot />
      <icon name="mark-icon" class="mark-icon" />
    </div>
  </div>
</template>

<script>
import Icon from '~/components/icon'
export default {
  name: 'CheckboxGroup',
  props: {
    selected: Boolean,
  },
  components: {
    icon: Icon,
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';

.checkbox {
  & > input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      + div {
        &:before {
          border: 1px solid $light-blue;
          background-color: $light-blue;
        }
        .mark-icon {
          display: inline-block;
        }
      }
    }
  }
  & > div {
    position: relative;
    cursor: pointer;
    padding-left: 23px;
    &:before {
      position: absolute;
      left: 0;
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 2px;
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid $text-grey;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
.mark-icon {
  display: none;
  position: absolute;
  top: 4px;
  left: 3px;
  /deep/[data-fg-colorable][data-fg-stroke] {
    stroke: $base-white;
  }
}
</style>
