<template>
  <component :is="name" :class="['icon', name]" />
</template>
<script>
import PlusIcon from '~/assets/svg/plus-icon.svg'
import CloseIcon from '~/assets/svg/close-icon.svg'
import SearchIcon from '~/assets/svg/search-icon.svg'
import HideIcon from '~/assets/svg/hide-icon.svg'
import ArrowIcon from '~/assets/svg/arrow-icon.svg'
import PollIcon from '~/assets/svg/poll-icon.svg'
import CalendarIcon from '~/assets/svg/calendar-icon.svg'
import BellIcon from '~/assets/svg/bell-icon.svg'
import SortIcon from '~/assets/svg/sort-icon.svg'
import MenuIcon from '~/assets/svg/menu-icon.svg'
import OpenIcon from '~/assets/svg/open-icon.svg'
import MarkIcon from '~/assets/svg/mark-icon.svg'
import ArrowIconSmall from '~/assets/svg/arrow-icon-small.svg'
import PresentedIcon from '~/assets/svg/presented-icon.svg'

export default {
  name: 'Icon',
  props: {
    name: { type: String },
  },
  components: {
    'plus-icon': PlusIcon,
    'close-icon': CloseIcon,
    'search-icon': SearchIcon,
    'hide-icon': HideIcon,
    'arrow-icon': ArrowIcon,
    'poll-icon': PollIcon,
    'bell-icon': BellIcon,
    'calendar-icon': CalendarIcon,
    'sort-icon': SortIcon,
    'menu-icon': MenuIcon,
    'open-icon': OpenIcon,
    'mark-icon': MarkIcon,
    'arrow-icon-small': ArrowIconSmall,
    'presented-icon': PresentedIcon,
  },
}
</script>

<style lang="scss">
@import '~/scss/variables';
.icon [data-fg-colorable][data-fg-stroke] {
  stroke: $icon-default-color;
}
.icon [data-fg-colorable][data-fg-fill] {
  fill: $icon-default-color;
}

.sort-icon [data-fg-colorable][data-fg-stroke] {
  stroke: $text-black;
}

.presented-icon [data-fg-colorable][data-fg-fill] {
  fill: $red-active;
}
</style>
