<template>
  <div class="logo">MSMonit.ru</div>
</template>

<style lang="scss">
@import '~/scss/variables';
.logo {
  color: $text-black;
  font-weight: 500;
  line-height: 21px;
}
</style>
<script>
export default {
  name: 'Logo',
}
</script>
