<template>
  <div class="wrapper">
    <input
      type="text"
      v-bind="$attrs"
      :value="value"
      :class="['input', value && 'active']"
      :placeholder="placeholder"
      @input="onUpdate($event.target.value)"
    />
    <span class="right-icon">
      <icon name="search-icon" v-if="!value" />
      <button class="close-button" @click="onUpdate('')" v-else>
        <icon name="close-icon" />
      </button>
    </span>
  </div>
</template>

<script>
import Icon from '~/components/icon'
export default {
  name: 'SearchInput',
  props: {
    value: { type: String },
    placeholder: { type: String },
  },
  components: {
    icon: Icon,
  },
  methods: {
    onUpdate(value) {
      this.$emit('input', value)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';
.wrapper {
  display: inline-block;
  position: relative;
}

.input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 26px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  border: 1px solid $border-grey;
  color: $text-black;
  @include placeholder {
    color: $text-grey;
  }
  &:focus {
    outline: none;
    border-color: $light-blue;
  }
}
.active {
  border-color: $text-black;
}

.right-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.close-button {
  @include resetButton;
  cursor: pointer;
}
</style>
