<template>
  <div :class="['select', opened && 'opened']">
    <span v-click-outside="hide" @click="opened = !opened">
      {{ name }}
      <icon name="arrow-icon-small" class="arrow-icon" />
    </span>
    <div class="dropdown-list" v-if="opened">
      <div
        class="dropdown-item"
        v-for="item in list"
        :key="item.id"
        @click="$emit('select', item.id)"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import Icon from '~/components/icon'
export default {
  name: 'SelectControl',
  props: {
    name: { type: String, required: true },
    list: { type: Array, required: true },
  },
  components: {
    icon: Icon,
  },
  methods: {
    hide() {
      this.opened = false
    },
  },
  data: function () {
    return {
      opened: false,
    }
  },
  directives: {
    ClickOutside,
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';

.select {
  position: relative;
  color: $text-black;
  font-size: 16px;
  padding-right: 16px;
  line-height: 19px;
  cursor: pointer;
  &.opened {
    color: $light-blue;
  }
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: 7px;
}

.dropdown-list {
  position: absolute;
  background: $base-white;
  top: 19px + 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $light-blue;
  z-index: 1;
}

.dropdown-item {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 13px;
  line-height: 15px;
  color: $text-black;
  white-space: nowrap;
  &:hover {
    background: $background-grey;
  }
  &.active {
    background: $aqua-light-blue;
  }
}
</style>
