<template>
  <div class="sort-label" @click="onClick()">
    <icon name="sort-icon" :class="['sort-icon', order]" />
    <span class="name"> {{ name }} </span>
  </div>
</template>

<script>
import Icon from '~/components/icon'
export default {
  name: 'SortLabel',
  props: {
    name: { type: String, required: true },
    order: { type: String, required: true },
    disabled: { type: Boolean, default: false },
  },
  components: {
    icon: Icon,
  },
  methods: {
    onClick() {
      this.$emit('click')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/scss/mixins';
@import '~/scss/variables';

.sort-label {
  position: relative;
  padding-left: 8px + 16px; // 16px for the icon
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $border-grey;
  cursor: pointer;
}

.name {
  color: $text-black;
  font-size: 12px;
  font-weight: 14px;
}

.sort-icon {
  position: absolute;
  top: 8px;
  left: 9px;
}

.asc {
  transform: rotate(-180deg);
}
</style>
