<template>
  <div class="menu">
    <menu-item
      v-for="menuItem in menuItems"
      :key="menuItem.id"
      :name="menuItem.title"
      :opened="openedItems.includes(menuItem.id)"
      :children="menuItem.children"
      @click="openMenuItem(menuItem.id)"
    />
  </div>
</template>

<script>
import MenuItem from './menu-item'
export default {
  name: 'MainMenu',
  data() {
    return {
      openedItems: [],
      menuItems: [
        {
          id: 0,
          title: 'Занятия',
        },
        {
          id: 1,
          title: 'План и работа',
          children: [
            {
              id: 10,
              title: 'Материалы',
            },
            {
              id: 11,
              title: 'Проекты',
              active: true,
            },
            {
              id: 12,
              title: 'Разделы',
            },
          ],
        },
        {
          id: 2,
          title: 'Дневник наблюдений',
          children: [
            {
              id: 20,
              title: 'По ученику',
              children: [
                { id: 201, title: 'Заметки' },
                { id: 202, title: 'Наблюдения' },
                { id: 203, title: 'Посещаемость' },
                { id: 204, title: 'Темы занятий' },
                { id: 205, title: 'Материалы' },
                { id: 206, title: 'Проекты' },
                { id: 207, title: 'Характеристика' },
                { id: 208, title: 'КИС' },
                { id: 209, title: 'Работа с родителями' },
                { id: 210, title: 'Печать' },
              ],
            },
            {
              id: 21,
              title: 'По группе',
            },
          ],
        },
        {
          id: 3,
          title: 'Карты',
        },
        {
          id: 4,
          title: 'Инструменты',
        },
        {
          id: 5,
          title: 'Информация',
        },
      ],
    }
  },
  methods: {
    openMenuItem(id) {
      if (this.openedItems.includes(id)) {
        this.openedItems = this.openedItems.filter((item) => item !== id)
      } else {
        this.openedItems.push(id)
      }
    },
  },
  components: {
    'menu-item': MenuItem,
  },
}
</script>
