<template>
  <div>
    <div :class="['menu-item', opened && 'opened']">
      <a class="arrow-button" @click="onClick">
        <icon name="arrow-icon" class="arrow-icon" />
      </a>
      <span class="caption" @click="onClick">{{ name }}</span>
    </div>
    <div v-if="opened && children" class="sub-menu">
      <sub-menu-item
        v-for="child in children"
        :key="child.id"
        :name="child.title"
        :active="child.active"
        :children="child.children"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/scss/variables';
@import '~/scss/mixins';

.arrow-button {
  @include resetButton;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 30px;
  display: none;
  cursor: pointer;
}

.arrow-icon {
  position: absolute;
  left: 15px;
  top: 18px;
}

.sub-menu {
  background: $background-light-blue;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-item {
  position: relative;
  width: 100%;
  padding-left: $left-menu-padding;
  padding-top: 11px;
  padding-bottom: 12px;
  cursor: pointer;
  &:hover {
    background: $background-grey;
    & > .arrow-button {
      display: block;
    }
  }
  &.opened {
    background-color: $background-blue;
    .arrow-button {
      display: block;
      & > .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
}

.caption {
  font-size: 16px;
  color: $text-black;
  line-height: 19px;
  padding-top: 11px;
  padding-bottom: 12px;
}
</style>

<script>
import Icon from '~/components/icon'
import SubMenuItem from './sub-menu-item'
export default {
  name: 'MenuItem',
  props: {
    name: { type: String, required: true },
    children: Array,
    opened: { type: Boolean, default: false },
  },
  components: {
    icon: Icon,
    'sub-menu-item': SubMenuItem,
  },
  methods: {
    onClick() {
      if (this.children) {
        this.$emit('click')
      }
    },
  },
}
</script>
