<template>
  <div class="sub-menu-item">
    <div :class="['item', active && 'active']">{{ name }}</div>
    <div v-if="children && children.length > 0">
      <div
        v-for="child in children"
        :key="child.id"
        class="sub-menu-item child"
      >
        {{ child.title }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/scss/variables';
.sub-menu-item {
  color: $text-black;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.item {
  &:hover,
  &.active {
    color: $light-blue;
  }
}
.child {
  margin-top: 24px;
  margin-left: 24px;
  &:hover,
  &.active {
    color: $light-blue;
  }
}
</style>

<script>
export default {
  name: 'SubMenuItem',
  props: {
    active: Boolean,
    name: String,
    children: Array,
  },
}
</script>
