<template>
  <div class="page-layout">
    <left-panel />
    <div class="main-content">
      <top-header />
      <div class="page-title">{{ title }}</div>
      <div class="page-content">
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
import LeftPanel from '~/components/left-panel'
import Header from '~/components/header'
import routes from '~/static/routes.json'
export default {
  computed: {
    title() {
      return routes[this.$router.currentRoute.name]
    },
  },
  components: {
    'left-panel': LeftPanel,
    'top-header': Header,
  },
}
</script>

<style lang="scss">
@import '~/scss/main.scss';
@import '~/scss/variables.scss';

.page-layout {
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.main-content {
  width: 100%;
}

.page-title {
  padding-left: $main-page-left-padding;
  display: flex;
  align-items: center;
  line-height: 28px;
  background: $background-grey;
  height: 67px;
  font-size: 24px;
}

.page-content {
  padding-top: 24px;
  padding-left: $main-page-left-padding;
  padding-right: 64px;
}
</style>
