<template>
  <div>
    <div :class="['tools-panel', viewType.id === 1 && 'presentation-view']">
      <div class="controls-panel">
        <div class="control">
          <base-button type="secondary">Печать</base-button>
        </div>
        <div class="control">
          <search-input
            placeholder="Поиск ученика"
            :value="searchQueryLearners"
            @input="filterByStudent"
            class="search-learner"
          />
        </div>
        <div class="control">
          <search-input
            placeholder="Фильтр по материалу"
            :value="searchQueryMaterials"
            @input="filterByMaterial"
            class="search-material"
          />
        </div>
        <select-control
          class="select"
          :name="viewType.name"
          :list="viewTypes"
          @select="onSelectClick"
        />
      </div>
      <div class="sort-panel">
        <sort-label
          :name="sorting.name"
          :order="sorting.order"
          @click="changeOrdering"
        />
        <div class="disabled-sorting">По году</div>
      </div>
    </div>
    <div v-if="viewType.id === 1">
      <div class="checkbox-list">
        <checkbox
          v-for="material in materials"
          :key="material.id"
          :selected="selectedMaterials.includes(material.id)"
          @select="onSelectMaterial(material.id)"
          class="checkbox-item"
        >
          {{ material.name }}
          <span
            :class="['checkbox-count', material.active ? 'active' : 'negative']"
            >{{ material.used }}</span
          >
        </checkbox>
      </div>
    </div>
    <div class="material-blocks">
      <material-block
        v-for="student in studentList"
        :key="student.id"
        :student="student"
        :materialList="student.materials"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BaseButton from '~/components/button'
import SearchInput from '~/components/search-input'
import MaterialBlock from '~/components/material-block'
import SortLabel from '~/components/sort-label'
import Checkbox from '~/components/checkbox'
import SelectControl from '~/components/select'

export default {
  computed: {
    sorting() {
      return this.$store.getters['sources/sorting']
    },
    materials() {
      return this.$store.getters['sources/materials']
    },
    studentList() {
      return this.$store.getters['sources/learners']
    },
    searchQueryLearners() {
      return this.$store.state.sources.searchQueryLearners
    },
    searchQueryMaterials() {
      return this.$store.state.sources.searchQueryMaterials
    },
    viewType() {
      return this.$store.getters['sources/viewType']
    },
    viewTypes() {
      return this.$store.getters['sources/viewTypes']
    },
    selectedMaterials() {
      return this.$store.state.sources.selectedMaterials
    },
  },
  methods: {
    changeOrdering() {
      this.$store.commit('sources/setNextOrderingType')
    },
    filterByStudent(value) {
      this.$store.commit('sources/studentFilter', value)
    },
    filterByMaterial(value) {
      this.$store.commit('sources/materialFilter', value)
    },
    onSelectClick(id) {
      this.$store.commit('sources/changeViewType', id)
    },
    onSelectMaterial(id) {
      this.$store.commit('sources/selectMaterial', id)
    },
  },
  components: {
    'base-button': BaseButton,
    'search-input': SearchInput,
    'material-block': MaterialBlock,
    'sort-label': SortLabel,
    'select-control': SelectControl,
    checkbox: Checkbox,
  },
}
</script>

<style lang="scss">
@import '~/scss/main.scss';
@import '~/scss/variables.scss';

.checkbox-list {
  display: flex;
  margin-bottom: 36px;
}

.checkbox-item {
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.checkbox-count {
  &.active {
    color: $green-active;
  }
  &.negative {
    color: $red-active;
  }
}

.tools-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  &.presentation-view {
    margin-bottom: 32px;
  }
}

.controls-panel {
  display: flex;
  align-items: center;
  .control {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
.search-learner {
  width: 180px;
}

.search-material {
  width: 204px;
}

.material-blocks {
  display: flex;
  flex-wrap: wrap;
  & > div {
    margin-right: 32px;
    margin-bottom: 32px;
  }
}

.sort-panel {
  display: flex;
  margin-right: 24px;
  align-items: center;
  color: $text-grey;
}
.disabled-sorting {
  line-height: 14px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
}
</style>
